/* = CONTAINER
================================================ */
.rings{{{cns}}} {
    background-image: url(/resources/cth_res/rings_bg4.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 418px 759px;
    height: 759px;
    position: absolute;
    width: 418px;
}

/* PORTS
================================================ */
.rings{{{cns}}} .mod-pedal-input {
    top: 54px;
}

.rings{{{cns}}} .mod-pedal-input .mod-cv-input {
    margin-bottom: 1px;
}

.rings{{{cns}}} .mod-input.mod-input-disconnected.rings-frequency_mod_input.mod-cv-input {
    margin-top: 86px;
}

.rings{{{cns}}} .mod-input.mod-input-disconnected.rings-brightness_mod_input.mod-cv-input {
    margin-top: 17px;
}

.rings{{{cns}}} .mod-input.mod-input-disconnected.rings-strum_input.mod-cv-input {
    margin-top: 92px;
}

.rings{{{cns}}} .mod-pedal-output {
    top: 590px;
}

.rings{{{cns}}} .mod-pedal-output .mod-audio-output {
    margin-bottom: 1px;
}

/* = LIGHT ON/OFF
================================================ */
.rings{{{cns}}} .mod-light {
    background-image: url(/resources/cth_res/lights.png{{{ns}}}) !important;
    background-position: right center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 640px;
    left: 200px;
}

.rings{{{cns}}} .mod-light.off {
  background-position: right center;
}

.rings{{{cns}}} .mod-light.on {
  background-position: left center;
}

/* = SWITCH
================================================ */
.rings{{{cns}}} .mod-switch {
    background-image: url(/resources/cth_res/switch_key.png{{{ns}}});
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 28px 38.5px;
    cursor: pointer;
    height: 38.5px;
    width: 28px;
    margin: auto;
    position: absolute;
    z-index: 30;
    top: 626px;
    left: 167px;
}

.rings{{{cns}}} .mod-switch.on {
  background-position: center top;
  top: 637px;
}

.rings{{{cns}}} .mod-switch.off {
  background-position: center bottom;
}

/* = KNOBS
================================================ */
.rings{{{cns}}} .mod-control-group {
    position: relative;
    display: inline-block;
    width: 418px;
    height: 53px;
    z-index: 30;
}

.rings{{{cns}}} .mod-control-group .mod-knob {
    display: inline-block;
}

.rings{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image: url(/resources/cth_res/medium_knob_3_70frames.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 53px;
    display: inline-block;
    height: 53px;
    width: 53px;
}

/* KNOB GROUPS */
.rings{{{cns}}} .mod-control-group.g1 {
    margin-top: 67px;
    margin-left: 22px;
}

.rings{{{cns}}} .mod-control-group.g1 .mod-knob.rings-resonator_param {
    margin-left: 266px;
}

.rings{{{cns}}} .mod-control-group.g2 {
    margin-top: 48px;
    margin-left: 86px;
}

.rings{{{cns}}} .mod-control-group.g2 .mod-knob.rings-structure_param {
    margin-left: 138px;
}

.rings{{{cns}}} .mod-control-group.g3 {
    margin-top: 100px;
    margin-left: 40px;
}

.rings{{{cns}}} .mod-control-group.g3 .mod-knob.rings-damping_param {
    margin-left: 85px;
}

.rings{{{cns}}} .mod-control-group.g3 .mod-knob.rings-position_param {
    margin-left: 85px;
}

.rings{{{cns}}} .mod-control-group.g4 {
    margin-top: 62px;
    margin-left: 29px;
}

.rings{{{cns}}} .mod-control-group.g4 .mod-knob.rings-frequency_mod_param {
    margin-left: 20px;
}

.rings{{{cns}}} .mod-control-group.g4 .mod-knob.rings-damping_mod_param {
    margin-left: 21px;
}

.rings{{{cns}}} .mod-control-group.g4 .mod-knob.rings-structure_mod_param {
    margin-left: 20px;
}

.rings{{{cns}}} .mod-control-group.g4 .mod-knob.rings-position_mod_param {
    margin-left: 20px;
}

.rings{{{cns}}} .mod-control-group.g5 {
    margin-top: 44px;
    margin-left: 184px;
}

.rings{{{cns}}} .mod-control-group.g5 .mod-knob.rings-lpg_decay {
    margin-left: 58px;
}

